@charset "UFT-8";

*
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html
{
    background-color: rgb(109, 39, 105);
    height: 100vh;
    width: 100vw;
}

main
{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);

    transition: width .5s, height .5s;
    transition-timing-function: ease;
}

#login > #imagem
{
    display: block;
    background: azure url(../imagens/um.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: center;
}

#login > #formulario
{
    display: block;
    padding: 10px;
}

#formulario > h1
{
    text-align: center;
    margin-bottom: 10px;
}

#formulario > p
{
    font-size: 0.8em;
}

form > input[type=submit]
{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(42, 87, 48);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover
{
    background-color: rgb(21, 43, 24);
}

form > a.botao
{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:rgb(255, 255, 255);
    color: black;
    border: 1px solid rgb(75, 150, 86);
    border-radius: 5px;
    text-decoration: none;
    padding-top: 5px;
    margin-top: 5px;
    
}

form > a.botao:hover
{
    background-color: rgb(61, 124, 70);
    color: white;
}

form > a.botao > i
{
    font-size: 1.2em;
}

form > div.campo
{
    height: 40px;
    background-color: rgba(137, 43, 226, 0.185);
    display: block;
    width: 100%;
    border-radius: 5px;
    margin: 5px 0px;
    border: 0.5px solid black;
}

.campo > label
{
    display: none;
}

div.campo > i
{
    font-size: 1.5em;
    width: 40px;
    padding: 5px;
}

div.campo > input
{
    
    font-size: 1em;
    border: 0px;
    height: 100%;
    width: calc(100% - 45px);
    transform: translateY(-3px);
   
    border-radius: 5px;
    padding: 5px;
}

div.campo > input:focus-within
{
    background-color: rgba(207, 230, 223, 0.596);
}